* {
    box-sizing: border-box;
    margin: 0;
    padding:0;

}


/* Somente declaração de variáveis, geralmente trabalha com 4 cores e é interessante declarar
para nao precisar mudar a mesma cor repetidas vezes */
:root{
    --color-primary: #ffa500;
    --color-dark: #232323;
    --color-light: #eaeaea;
    --collor-white: #fff
}


html {
    /* Fazer a barra de rolagem rolar mais suave(smooth) para todo o arquivo html */
    scroll-behavior: smooth;


}

a{
    color:var(--color-primary)
}

header {
    background-color: var(--color-dark);
    color: var(--collor-white);
    /* padding (apertar f12 no navegador para ver onde é) */
    padding: 1.5rem 0;
}

nav ul{
    list-style: none;
    text-align:center;
    text-decoration: none;
    font-weight: 700;

}

nav li{
    display: inline;
    margin: 0 1.5rem;

}

nav a{
    text-decoration: none;
    font-weight: bold;
    font-weight: 700;

}

.hero{

    background-image: url(img/pexels-eneida-nieves-15668737.jpg);
    background-size: cover;
    color: var(--color-dark)
    min-height: 75vh;
    padding: 10rem 0;
    text-align: center;

}

.hero h1{
    font-size: 4rem;
    font-weight: 100;
}

.hero p {
    font-size: 1.5rem;
    margin-top: 1.5rem;

}

section:not(#home){
    padding: 4rem;
    text-align: center;

}

h2 {
    font-size: 3rem;
    margin-bottom:  1.5rem;

}

p{
    font-size: 1.25rem;

}

.menu-list{
    list-style: none;

}

.menu-list > li {
    background-color: var(--color-light);
    border-radius: .5rem;
    box-shadow: 0 4px 12px -4px rgba(0, 0, 0, 0.5);
    margin: 1.5;
    display: inline-block;
    height: 28rem;
    width: 28rem;
    text-align: left;

}

.menu-list img {
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    object-fit: cover;
    width: 100%;
    
}















body{
    font: 100;

}

